Source: asl3
Section: hamradio
Priority: optional
Maintainer: Jason McCormick <jason@mfamily.org>
Build-Depends: debhelper-compat (= 13), pandoc
Standards-Version: 4.5.1
Homepage: https://github.com/AllStarLink/ASL3
Vcs-Browser: https://github.com/AllStarLink/ASL3
Vcs-Git: https://github.com/AllStarLink/ASL3.git
Rules-Requires-Root: binary-targets

Package: asl3
Architecture: all
Depends: ${misc:Depends}, asl3-asterisk, asl3-menu, dahdi-linux, lsb-release, 
  curl, lame, sox
Suggests: allmon3, asl3-update-nodelist
Description: AllStarLink 3
 AllStarLink’s app_rpt version 3 (ASL3) is the
 next generation of repeater control software.
 This version of app_rpt has been redesigned to
 run on the latest operating systems and
 the current version of Asterisk® LTS.
